*{
    margin: 0;
    padding: 0;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;

}
.text-right{
    text-align: right;
}

.clearFix::after{
    content: "";
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1300px;
    margin: auto;
}
h1,h2,h3,h4,h5,h6,a,p,span{
    font-family: 'Work Sans', sans-serif;
}
.left{
    float: left;
}
.right{
    float: right;
}
/* Main css start here */

.main-header{
    background: rgb(252, 248, 248);
}


.header-logo{
    width: 33.3%;
}
.header-logo img{
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 12px;
}
.header-logo span{
  font-size: 26px;
  display: inline-block;
  margin: 20px 9px;
  cursor: pointer;
  font-weight: 400;
  transition: .3s;
}
.header-logo span:hover{
    color: rgb(182, 189, 189);
}
/* menu css start */
.header-menu{
    width: 40%;
    margin: auto;

}
.header-menu ul li{
    display: inline-block;
    list-style: none;
    margin-top: 28px;
    position: relative;
}
.header-menu ul li a{
    padding: 15px;
    color: black;
    margin: 10px;
    transition: .4s;
}
.header-menu ul li a:hover{
    color: red;
}
.header-menu i{
    display: inline-block;
    margin-left: -16px;
}
/* dropdown css */

.header-menu ul li ul{
    position: absolute;
    left: 0;
    top: 38px;
    width: 300px;
    background: #f0ebeb;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top center;
    
    visibility: hidden;
    opacity: 0;
}
.header-menu ul li ul li{
    text-align: left;
    display: block;
    margin: 0 10px;
    border-bottom: 1px solid white;
}
.header-menu ul li ul li a{
    color: rgb(20, 2, 2);
    padding: 6px;
    display: block;
    margin-left: 10px;

}
.header-menu ul li:hover ul{
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
/* header-btn */
.header-btn{
    width: 26.6%;
}
.header-btn button{
    color: #6278df;
    background-color: white;
    border: 2px solid #6278df;
    padding: 8px 29px;
    margin-top: 17px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    transition: .3s;
}
.header-btn button:hover{
    background-color: #6278df;
    color: white;
    box-shadow: 2px 1px #6278df;
    cursor: pointer;
}

/* baner=css */
.baner{
    background-image: url(./img/mbr-4.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 70vh;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.baner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}
.baner-content{
    padding-top: 200px;
    z-index: 1;
    opacity: 1;
    
}

.baner-content span{
    color: white;
    font-size: 30px;
    margin-bottom: 18px;
    display: block;
}
.baner-content h1{
    color: white;
    font-size: 63px;
    margin-bottom: 31px;

}

.baner-btn button{
    color: #7d7d7d;
    background-color: white;
    border: 1px solid #f3f3f3;
    padding: 18px 35px;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    transition: .3s;
}
.baner-btn button:hover{
    background-color: #6278df;
    color: white;
    box-shadow: 2px 1px #6278df;
    cursor: pointer;
}
.baner-btn button i{
    margin-right: 20px;
    display: inline-block;
}

/* video setion css */


.vid-section{
    width: 100%;
    padding: 90px;
}
.vid{
    width: 50%;
    margin-top: 18px;
}
.vid-text{
    width: 50%;
}
.vid-text h1{
    font-size: 2.8rem;
    line-height: 1.4;
    margin-bottom: 50px;
    font-weight: 400;
}
.vid-text p{
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: normal;
    color: #767676;
}

/* about-section */

.about-section{
    width: 100%;
    padding: 50px 0;
    background: white;
}
.about-title{
    margin-bottom: 100px;
}
.about-title h1{
    color: black;
    margin-bottom: 40px;
    font-size: 4rem;
}
.about-title span{
    color: #7d7d7d;
    margin-bottom: 40px;
    font-size: 25px;
}

/* content-items-css */


.about-box{
    width: 30%;
    padding: 60px;
    box-sizing: border-box;
    margin-right: 3%;
    margin-bottom: 5%;
    transition: .4s;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.about-box:nth-child(3){
    margin-right: 0;
}
.about-box:hover{
    box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, .4);
}
.content-items span{
    color: #6278df;
    font-size: 40px;
}

.a-icon span{
    font-size: 40px;
    float: left;
    margin-right: 30px;
    margin-left: -31px;
    min-height: 122px;
    color: #6278df;
}

.c-text h4{
    font-size: 25px;
    font-weight: 500;
}
.c-text p{
    color: #7d7d7d;
    margin-top: 25px;
    flex: 20px;
}
/* pricing section start here */
.main-price{
    background: #f7f9ff;
    height: 79em;
    padding: 70px 0;
}
.pricing-section{
    width: 100%;
}
.price{
    width: 31%;
    height: auto;
    float: left;
    margin-right: 2.5%;
    margin-bottom: 100px;
    box-shadow: 2px 2px 3px 4px rgba(223, 213, 213, 0.2);

}

.price:nth-child(3){
    margin-right: 0;
}

.item-b{
    padding: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(26, 19, 19);
    transition: .5s;
}
.item-b h4{
    font-size: 20px;
}
.item-b h2{
    font-size: 45px;
    margin: 30px 0;
    letter-spacing: 5px;
}
.item-b h2 span{
    font-size: 20px;
    letter-spacing: 0;
    margin-left: 5px;
}
.item-b p{
    color: black;
    font-weight: 300;
    margin: 20px 0;
    font-size: 20px;
}


.item{
    padding: 40px;
    box-sizing: border-box;
}

.item ul li{
    list-style: none;
    color: #767676;
    margin: 20px 0;
    font-size: 25px;
    font-weight: 300;
}
.item ul li span{
    font-size: 25px;
    color: #6278df;
    margin-right: 15px;
    font-weight: bold;
    width: 30px;
    height: 35px;
}
.price-btn button{
    color: #6278df;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 1px solid rgb(172, 168, 168);
    margin-top: 40px;
    transition: .5s;
}


.price:hover .item-b{
    background: #6278df;
    color: white;
}
.price:hover .price-btn button{
    background-color: #6278df;
    color: hsl(0, 25%, 98%);
}

/* team-section css start here */


.team-title h1{
    font-size: 40px;
    text-align: center;
}

.member-img{
    width: 22%;
    margin-right: 3%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    margin-bottom: 100px;

}

.member-img img{
    max-width: 100%;
    height: 265px;
    border-radius: 10px 10px 0 0;
}

.member-caption{
    margin-top: 20px;

}

.member-caption h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.member-caption span{
    color: #767676;
    font-size: 18px;

}

/* newsletter css start here */


.newsletter{
    padding: 100px;
    background-color: #f7f9ff;
}
.newsletter span{
     font-size: 25px;
     color: #767676;
     margin-bottom: 20px;
     display: block;
}
.newsletter h1{
    color: black;
    font-weight: 500;
    margin-bottom: 55px;
    display: block;
    font-size: 50px;

}


.news-btn{

}

.news-btn input{
    background: white;
    border: 1px solid #e4e4e4;
    color: #232323;;
    width: 250px;
    height: 37px;
    padding: 10px 32px;
    margin-left: -100px;
    font-size: 19px;
}
.news-btn button{
    padding: 7px 91px;
    color: white;
    background: #6278df;
    font-size: 22px;
    margin-left: 26px;
    height: 57px;
    border-radius: 5px;
    transition: .3s;
}

.news-btn button:hover{
    color: #6278df;
    background: white;
    cursor: pointer;
}








.testmonial{
    padding: 100px 0;
    margin-bottom: 200px;
}

.testi{
    margin-bottom: 100px;
}
.testi h1{
    width: 48%;
    margin-right: 2%;
    font-size: 55px;
    font-weight: 500;
}
.testi p{
    width: 48%;
    color: #767676;
    font-size: 24px;
    line-height: 1.5em;
}

.test-im{
    width: 48%;
    margin-right: 2%;
}

.test-img{
    width: 50%;
}

.test-img img{
    border-radius: 5px 0 0 5px;
}

.test-cap{
    width: 50%;
    box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, .1);
    padding: 41px 0;
}
.test-cap h4{
    margin: 30px 0;
    font-size: 25px;
    font-weight: 500;
    margin-left: 20px;
}
.test-cap p{
    margin-left: 20px;
}


/* feedback-section */

















.f-bg-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f7f9ff;
    height: 800px;
  }

.f-title span{
    font-size: 25px;
    color: #767676;
    margin-bottom: 20px;
    display: block;
}
.f-title h1{
    color: black;
    font-weight: 500;
    margin-bottom: 55px;
    display: block;
    font-size: 50px;
}




.qute-item{
    width: 31%;
    margin-right: 2%;
    margin-top: 70px;
}
.q-box{
    padding: 76px 30px;
    background-color: white;
    border: 1px solid white;
    box-sizing: border-box;
    margin-bottom: 100px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.05);
    position: relative;
    transition: .3s ease-in-out;
}

.q-box:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}

.q-box::after{
    content: "";
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 36px 24px 0 24px;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(0deg);
}
.q-box h1{
    font-weight: 300;
    font-size: 20px;
    color: #767676;
    position: relative;

}

.q-box h1::before{
    content: "\f10d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    top: -45px;
    position: absolute;
    left: 0;
    width: 57px;
    height: 46px;
    font-size: 104px;
    opacity: .2;
}

.q-img{
    width: 200px;
    margin: auto;
}
.qt-img img{
    border-radius: 50%;
    width: 80px;
}
.qt-img{
    margin-right: 23px;
    margin-left: -20px;
}
.img-q-cap{}
.img-q-cap h4{
    margin-top: 22px;
    margin-bottom: 10px;
}
.img-q-cap span{}

/* contact-section */
.contact-des{

}
.contact-des h4{
    font-size: 30px;
    margin: 40px 0;
}
.contact-des p{
    font-size: 20px;
    color: #767676;;
}

.contact-section{}

.contact-map{
    width: 48%;
    margin-right: 4%;
}
.contact-map iframe{
    width: 100%;
    height: 700px;
}
.contact-form{
    width: 48%;
}


.contact-input{
    margin-top: 50px;
}
.contact-input big-i{
    width: 100%;
}
.contact-input input{
  padding: 15px 20px;
  margin: 10px;
  width: 377px;
  font-size: 18px;
  color: #767676;
}

.contact-input textarea{
    width: 80%;
    height: 100px;
    padding: 20px;
    margin: 10px;
}


.contact-input button{
    font-size: 20px;
    color: white;
    background: #6278df;
    padding: 18px 30px;
    margin: 10px;
}
footer{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 20px;
}